*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;

}
header {
    background-color: #585858;
    color: white;
    padding: 100px 0;
    text-align: center;
}
nav {
    background-color: #000000;
    padding: 20px;
    text-align:  center;
    a {
        color: rgb(255, 251, 251);
        text-decoration: none;
        padding: 0;
    }
}
main {
    height: 600px;
    padding: 50px;
    .main-container {
        background-color: #acaaaa;
        padding: 20px;
    }
    .main-title {
        text-decoration: underline;
    }
    .main-info{
        margin: 20px 0;
    }
    .main-btn{
        background-color: #f8f8f8;
        padding: 10px ;
        display: inline-block;
        color: black;
        text-decoration: none;
    }
}
footer {
    background-color: #393939;
    color: white;
    text-align: center;
    padding: 20px;
}